* {
  font-family: "Inika", serif;
  font-family: "Inter", sans-serif;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.none {
  opacity: 0;
}
.bold {
  font-weight: 600;
  color: black;
}
.gold {
  color: rgb(160, 140, 106);
}

h1 {
  font-weight: lighter;
  padding-left: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 50px;
  background-color: none;
}
* > a {
  text-decoration: none;
  color: black;
}
.wrapper {
  max-width: 100%;
  overflow: hidden;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}
.header {
  background-color: #fffff0;

  height: fit-content;
}
.header_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  /* margin: 75px 0px; */
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.navbar > li {
  list-style-type: none;
  margin-left: 100px;
}
/* .logo {
  margin: 75px 0px;
} */
.logo_img {
  width: 100px;
  height: 100px;
}
.Berlin_1 {
  opacity: 0.9;
  width: 100%;
}
.name {
  font-weight: 400;
  text-align: center;
  font-size: 30px;
  background-color: none;
  position: absolute;
  top: 180px;
  left: 43%;
}
.cityname {
  text-align: center;
  color: rgb(160, 140, 106);
  font-size: 20px;
  position: absolute;
  margin-top: 40px;
  top: 180px;
  left: 47%;
}
.desc1 {
  height: fit-content;
  background-color: #fffff0;
}
.desc_text1 {
  font-size: 50px;
  width: 600px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.Berlin_2 {
  opacity: 0.9;
  width: 100%;
}
.building {
  padding: 10px;
  background-color: rgba(255, 255, 240, 0.6);
  width: 500px;
  position: absolute;
  left: 10%;
  top: 1050px;
}
.Rooms {
  background-color: #fffff0;
}
.cards {
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.card1 {
  transition: 0.2s;
  padding-bottom: 50px;
}
.card2 {
  transition: 0.2s;
}
.card4 {
  transition: 0.2s;
}
.card3 {
  transition: 0.2s;

  padding-bottom: 50px;
}
.desc_card {
  background-color: none;
  /* padding-left: 100px; */
  padding-bottom: 200px;
  width: 500px;
}

.desc_card > p {
  width: 400px;
  padding-bottom: 20px;
}
.desription {
  top: 1500px;
  left: 10%;
  position: absolute;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
}
.desc_card3 {
  margin-top: 100px;
  margin-left: -20px;
}
.desc_card4 {
  /* margin-left: 50px; */
  margin-top: 100px;
  margin-left: -20px;
}
.desc_card1 {
  margin-top: 100px;
}
.desc_card2 {
  margin-top: 100px;
}
.desc_card > button {
  background-color: rgb(160, 140, 106, 0.2);
  width: 300px;
  padding: 10px;
}
