* {
  font-family: "Inika", serif;
  font-family: "Inter", sans-serif;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
.none {
  opacity: 0;
}
.bold {
  font-weight: 600;
  color: black;
}
.gold {
  color: rgb(160, 140, 106);
}

h1 {
  font-weight: lighter;
  padding-left: 540px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 40px;
  background-color: none;
}
h2 {
  font-weight: lighter;
  padding-left: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 40px;
  background-color: none;
}
* > a {
  text-decoration: none;
  color: black;
}
.wrapper {
  max-width: 100%;
  overflow: hidden;
}
.container {
  max-width: 1240px;
  margin: 0 auto;
}
.header {
  background-color: #fffff0;

  height: fit-content;
}
.header_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  /* margin: 75px 0px; */
  display: flex;
  flex-direction: row;
  justify-content: end;
}
.navbar > li {
  list-style-type: none;
  margin-left: 100px;
}
/* .logo {
  margin: 75px 0px;
} */
.logo_img {
  width: 80px;
  height: 80px;
}
.Berlin_1 {
  opacity: 0.9;
  width: 100%;
}
.name {
  font-weight: 400;
  text-align: center;
  font-size: 30px;
  background-color: none;
  position: absolute;
  top: 180px;
  left: 43%;
}
.cityname {
  text-align: center;
  color: rgb(160, 140, 106);
  font-size: 20px;
  position: absolute;
  margin-top: 40px;
  top: 180px;
  left: 47%;
}
.desc1 {
  height: fit-content;
  background-color: #fffff0;
}
.desc_text1 {
  font-size: 50px;
  width: 600px;
  padding-top: 100px;
  padding-bottom: 100px;
}
.Berlin_2 {
  opacity: 0.9;
  width: 100%;
}
.building {
  padding: 10px;
  background-color: rgba(255, 255, 240, 0.6);
  width: 500px;
  position: absolute;
  left: 10%;
  top: 1050px;
}
.Rooms {
  background-color: #fffff0;
}
.cards {
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}
.card1 {
  transition: 0.2s;
  padding-bottom: 50px;
}
.card2 {
  transition: 0.2s;
}
.card4 {
  transition: 0.2s;
}
.card3 {
  transition: 0.2s;

  padding-bottom: 50px;
}
.desc_card {
  background-color: none;
  /* padding-left: 100px; */
  padding-bottom: 200px;
  width: 500px;
}

.desc_card > p {
  width: 400px;
  padding-bottom: 20px;
}
.desription {
  top: 1500px;
  left: 10%;
  position: absolute;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
}
.desc_card3 {
  margin-top: 100px;
  margin-left: -20px;
}
.desc_card4 {
  /* margin-left: 50px; */
  margin-top: 100px;
  margin-left: -20px;
}
.desc_card1 {
  margin-top: 100px;
}
.desc_card2 {
  margin-top: 100px;
}
.desc_card > button {
  background-color: rgb(160, 140, 106, 0.2);
  width: 300px;
  padding: 10px;
}
.Wellness {
  background-color: #fffff0;
}
.flex_wellness {
  display: flex;
  flex-direction: row;
}
.flex_wellness > img {
  width: 300px;
  padding: 30px;
  margin-left: 50px;
  border-radius: 50%;
}
.desc_wellness {
  width: 500px;
  margin-left: 100px;
}
.flex_wellness > p {
  text-align: center;
  margin-top: 100px;
  margin-left: 180px;
}
.Book {
  background-color: #fffff0;
}
.contact_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 700px;

  margin: auto;
  background-color: rgb(160, 140, 106, 0.2);
}

.select {
  margin-top: 50px;
  position: relative;
  width: 250px;
}
.select.is-active .select__body {
  display: block;
}

.select__header {
  border: 1px solid #ccc;
  cursor: pointer;
  display: flex;
}
.select__current {
  font-size: 18px;
  line-height: 24px;
  padding: 8px;
}
.select__icon {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  justify-content: center;
  height: 40px;
  margin-left: auto;
  text-align: center;
  width: 40px;
}

.select__body {
  border: 1px solid #cccccc;
  border-top: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
}
.select__item {
  cursor: pointer;
  font-size: 16px;
  line-height: 24px;
  padding: 8px;
}

.select__item:hover {
  background-color: #f2f2f2;
}
.dates {
  padding: 50px 10px 0px;

  width: 450px;
}
.input {
  background-color: #fffff0;
  margin-left: 15px;
}
.input2 {
  background-color: #fffff0;
  margin-left: 15px;
}
.button_book {
  margin-top: 200px;
  width: 250px;
  background-color: rgb(160, 140, 106, 0.2);
  cursor: pointer;

  padding: 10px;
  margin-bottom: 50px;
}
.button_book:hover {
  background-color: #f2f2f2;
}
.Contact {
  background-color: #fffff0;
}
.flex_input {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: auto;
  margin: 0 auto;
}
.contact_input {
  background-color: #fffff0;
  margin-top: 30px;
  padding: 10px;
  margin-right: 20px;
}
.input2 {
  margin-left: 10px;
}
.input1 {
  margin-left: 10px;
}
.contact_input2 {
  background-color: #fffff0;
  padding: 10px;
  width: 530px;
  margin: 50px 0px;
}
.contact_button {
  width: 250px;
  background-color: rgb(160, 140, 106, 0.2);
  cursor: pointer;
  margin-bottom: 50px;
  padding: 10px;
}
.contact_button:hover {
  background-color: #f2f2f2;
}
.roompic {
  margin-top: 50px;
  opacity: 0.9;
  width: 100%;
}
.footer {
  background-color: #fffff0;
  height: fit-content;
}
.footer_flex {
  margin-left: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.logoug {
  margin-right: 20px;
  width: 20px;
}
.footerspan {
  padding-right: 20px;
  width: 200px;
  font-size: 15px;
}
